@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

}

body{
    background-color: #000000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}


.title-resalt{
    color: #22D4FD;
}

.presentation{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.presentation__content{
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 30px;
}

.presentation__content__title{
    font-size: 28px;
    font-family: "Krona One", sans-serif;
}

.presentation__content__parrafo{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.presentation__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.presentation__enlaces__subtitle{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentation__enlaces__link{
    width: 378px;
    text-align: center;
    padding: 11.5px 0px ;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
}


.img__perfil{
    width: 45%;
    margin: 15px;
}